# unconventional js
/packages/**/blueprints/*/files/
/packages/**/vendor/

/site/blueprints/*/files/

# compiled output
dist
tmp
/packages/glimmer-apollo/build/

# dependencies
bower_components
node_modules
/packages/*/types/

# misc
/packages/**/coverage/
/site/coverage/
!.*

# ember-try
/packages/**/.node_modules.ember-try/
/packages/**/bower.json.ember-try
/packages/**/package.json.ember-try
