name: CI

on:
  push:
    branches:
      - main
      - 'v*'
  pull_request: {}

env:
  CI: 'true'

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: volta-cli/action@v1
        with:
          node-version: 14.x
          yarn-version: 1.x

      - run: yarn install --frozen-lockfile --non-interactive
      - run: yarn lint:js
      - run: yarn build

  package-tests:
    name: Glimmer Apollo Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: volta-cli/action@v1
        with:
          node-version: 14.x
          yarn-version: 1.x
      - run: yarn install --frozen-lockfile --non-interactive
      - run: yarn build
      - name: Test Glimmer Apollo
        run: yarn workspace glimmer-apollo run test
      - name: Test App
        run: yarn workspace test-app run test

  try-scenarios:
    name: ${{ matrix.ember-try-scenario }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        ember-try-scenario:
          - ember-3.27
          - ember-release
          - ember-beta
          - ember-canary
          - ember-embroider

    steps:
      - uses: actions/checkout@v2
      - uses: volta-cli/action@v1
        with:
          node-version: 14.x
          yarn-version: 1.x
      - run: yarn install --frozen-lockfile --non-interactive
      - run: yarn build
      - name: Test
        env:
          EMBER_TRY_SCENARIO: ${{ matrix.ember-try-scenario }}
        run: yarn workspace test-app run ember try:one $EMBER_TRY_SCENARIO

  typescript:
    name: ${{ matrix.typescript }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        typescript:
          - typescript@~4.5.0
          - typescript@~4.6.0
          - typescript@~4.7.0
          - typescript@~4.8.0
          - typescript@~4.9.0

    steps:
      - uses: actions/checkout@v2
      - uses: volta-cli/action@v1
        with:
          node-version: 14.x
          yarn-version: 1.x
      - run: yarn install --frozen-lockfile --non-interactive
      - run: yarn build
      - run: yarn add --dev ${{ matrix.typescript }}
        working-directory: examples/glimmerx
      - run: yarn add --dev ${{ matrix.typescript }}
        working-directory: packages/glimmer-apollo
      - run: yarn test:types


  examples-glimmerx:
    name: GlimmerX Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: volta-cli/action@v1
        with:
          node-version: 14.x
          yarn-version: 1.x
      - run: yarn install --frozen-lockfile --non-interactive
      - run: yarn build
      - name: Test
        run: yarn workspace glimmerx run test
